
/* Dark Blue for Backgrounds or Headings */
$bg-dark-blue: #0E1F40;  
$bg-lighten-blue: #1f335a; 

/* Blue for Secondary Backgrounds */
$bg-blue: #1B578C;  

/* Yellow for Highlights or Buttons */
$highlight-yellow: #F2BB13;  

/* Orange for Section Borders or Accents */
$accent-orange: #D98014;  

/* Brown for Text or Muted Elements */
$text-brown: #8C4A0F;  
$bgCardColor: white;

